<p>
  login works!
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">password</th>
      <th scope="col">-</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input placeholder="Enter id" [(ngModel)]="user.login_id"></td>
      <td><input placeholder="Enter password" [(ngModel)]="user.passwd"></td>
      <td>
        <button type="button" (click)="login(user)">Login</button>
      </td>
    </tr>
  </tbody>
</table>

<p>User info <button type="button" (click)="info()">fetch user info</button></p>
<div id="info"></div>