<div fxLayout="column" fxLayoutAlign="space-between">
    <div>## Sidebar ##</div>
    <div fxLayout="column" fxLayoutGap="10px">
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/users">Users</a>
        <a routerLink="/registration">Registration</a>
        <a routerLink="/account-settings">Account Settings</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/high-charts">HighCharts</a>
        <a routerLink="/kakao">카카오 Service Test</a>
    </div>
</div>