<h3>ng cli - create componets in subdirectorie</h3>
<p>ng g m high-charts // generate HighCharts module in a app/high-charts folder</p>
<p>cd src\app\high-charts</p>
<p>ng g c high-charts</p>
<p>ng g c line-chart</p>
<p>ng g c radar-chart</p>
<p>update app.module with reference to other modules</p>

<h3>REST API Test</h3>

<p>Users <button type="button" (click)="findAll()">load users</button></p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">fullName</th>
      <th scope="col">Birthday</th>
      <th scope="col">isActive</th>
      <th scope="col">-</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>-</th>
      <td><input placeholder="Enter fullName" [(ngModel)]="newUser.fullName"></td>
      <td><input placeholder="Enter birthday" [(ngModel)]="newUser.birthday"></td>
      <td><input placeholder="Enter isActive" [(ngModel)]="newUser.isActive"></td>
      <td>
        <button type="button" (click)="create(newUser)">Create</button>
      </td>
    </tr>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.id}}</th>
      <td><input placeholder="Enter fullName" [(ngModel)]="user.fullName"></td>
      <td><input placeholder="Enter birthday" [(ngModel)]="user.birthday"></td>
      <td><input placeholder="Enter isActive" [(ngModel)]="user.isActive"></td>
      <td>
        <button (click)="findOne(user.id)" type="button">Select</button>
        <button (click)="delete(user.id)" type="button">Delete</button>
        <button (click)="update(user)" type="button">Update</button>
      </td>
    </tr>
  </tbody>
</table>